body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Lucida', 'Helvetica',
    sans-serif;
  font-variant: small-caps;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
